<a ui-sref="main">К списку книг</a>

<div class="b-form" dir="ltr">
	<div class="b-form__input">
		<input type="text">

		<div class="b-form__note">Example: 72A22EF8-8766-4359-3978-EBBAC445687A</div>
	</div>
	<div class="b-form__between"></div>
	<div class="b-form__button">
		<button>Send code</button>
	</div>
</div>

<div class="b-form" dir="rtl">
	<div class="b-form__input">
		<input type="text">

		<div class="b-form__note">Example: 72A22EF8-8766-4359-3978-EBBAC445687A</div>
	</div>
	<div class="b-form__between"></div>
	<div class="b-form__button">
		<button>Send code</button>
	</div>
</div>