<div class="book-editor">
	<div class="book-editor__title">Редактор книги</div>
	<form name="bookEdit">
		<div class="row">
			<div class="col-md-4">
				<md-input-container>
					<label>Название книги</label>
					<input ng-model="bkEdtr.data.name" md-maxlength="30" required>
				</md-input-container>
			</div>
			<div class="col-md-4">
				<div>Авторы</div>
				<ul class="book-editor__authors">
					<li class="book-editor__authors-item"
						ng-repeat="(key, author) in bkEdtr.data.authors">
						<md-input-container>
							<label>Фамилия</label>
							<input ng-model="author['s_name']" md-maxlength="20" required>
						</md-input-container>
						<md-input-container>
							<label>Имя</label>
							<input ng-model="author['f_name']" md-maxlength="20" required>
						</md-input-container>
						<span class="book-editor__authors-delete"
							  ng-click="bkEdtr.deleteAuthor($event, key)">
							<i class="fa fa-trash"></i>
						</span>
					</li>
				</ul>
				<span class="book-editor__authors-add" ng-if="bkEdtr.data.authors.length < 5"
					  ng-click="bkEdtr.addAuthor($event)">
							<i class="fa fa-plus-circle"></i>
							Добавить автора
						</span>
			</div>
			<div class="col-md-4">
				<div class="book-editor__image"
					 flow-init
					 flow-files-added="bkEdtr.processFiles($files)">
					<md-button class="md-fab md-primary" aria-label="Use Android" flow-btn  ng-if="!bkEdtr.data.image.length">
						<i class="fa fa-picture-o"></i>
					</md-button>
					<div class="book-editor__image-data" ng-if="bkEdtr.data.image.length">
						<img ng-src="{{bkEdtr.data.image}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<md-input-container>
					<label>Количество страниц</label>
					<input ng-model="bkEdtr.data.pages" md-maxlength="5" required ng-pattern="/\d+/">
				</md-input-container>
			</div>
			<div class="col-md-4">
				<md-input-container>
					<label>Название издательства</label>
					<input ng-model="bkEdtr.data.publishing_house" required md-maxlength="30">
				</md-input-container>
			</div>
			<div class="col-md-4">
				<md-input-container>
					<label>Год публикации</label>
					<input ng-model="bkEdtr.data.publication">
				</md-input-container>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<md-input-container ng-if="::bkEdtr.data.isbn.length == 17">
					<label>ISBN</label>
					<input ng-model="bkEdtr.data.isbn"
						   required
						   md-maxlength="17"
						   ng-pattern="/^(?:ISBN(?:-13)?:?●)?(?=[0-9]{13}$|(?=(?:[0-9]+[-●]){4})[-●0-9]{17}$)97[89][-●]?[0-9]{1,5}[-●]?[0-9]+[-●]?[0-9]+[-●]?[0-9]$/">
					<div class="note">9xx-x-xx-xxxxxx-x</div>
				</md-input-container>
				<md-input-container ng-if="::bkEdtr.data.isbn.length == 13 || bkEdtr.mode !== 'edit'">
					<label>ISBN</label>
					<input ng-model="bkEdtr.data.isbn"
						   required
						   md-maxlength="13"
						   ng-pattern="/^(?:ISBN(?:-10)?:?●)?(?=[0-9X]{10}$|(?=(?:[0-9]+[-●]){3})[-●0-9X]{13}$)[0-9]{1,5}[-●]?[0-9]+[-●]?[0-9]+[-●]?[0-9X]$/">
					<div class="note">x-xxx-xxxxx-x</div>
				</md-input-container>
			</div>
			<div class="col-md-4">
				<md-input-container>
					<label>Дата выхода в тираж</label>
					<input ng-model="bkEdtr.data.edition">
				</md-input-container>
			</div>
			<div class="col-md-4">

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<md-button ng-disabled="!bookEdit.$valid" class="md-raised md-primary" ng-click="bkEdtr.saveCard($event)">Сохранить</md-button>
			</div>
		</div>
	</form>
</div>